article {
  padding: calc(var(--ifm-spacing-horizontal)*1.5);
  border-radius: 4px;
  background: var(--site-color-feedback-background);
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.article h2::before {
  content: '';
  margin-right: 0.5rem;
}

.shareSocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.shareSocialMedia .shareHeading {
  margin: 1rem;
  font-style: italic;
}
.shareSocialMedia .shareHeading::after {
  content: '📢';
  margin-left: 0.5rem;
}
.shareSocialMedia .shareButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}