.main {
  padding: var(--ifm-spacing-horizontal);
  border-radius: 4px;
  background: var(--site-color-feedback-background);
}

.main h1, main h2, main h3, main h4, main h5, main h6 {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.main h2::before {
  content: '';
  margin-right: 0.5rem;
}