.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.showcaseFeaturesList {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.showcaseFeaturesTitle {
  font-weight: 700;
  color: var(--ifm-color-primary-darker);
  text-transform: uppercase;
  margin-top: 1rem;
  /* Align text to center of parent*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcaseFeaturesLink {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
}