.features {
  display: flex;
  align-items: center;
  padding: 3rem 0 4rem;
  width: 100%;
}

.showcaseFeaturesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.showcaseFeaturesTitle {
  font-weight: 700;
  color: var(--ifm-color-primary-darker);
  text-transform: uppercase;
  margin: 0 0 2rem;
  /* Align text to center of parent*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcaseFeaturesLink {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
