.shareSocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.shareSocialMedia .shareHeading {
  margin: 1rem;
  font-style: italic;
}
.shareSocialMedia .shareHeading::after {
  content: '📢';
  margin-left: 0.5rem;
}
.shareSocialMedia .shareButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}