.showcaseList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.showcaseFavorite {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--site-color-favorite-background);
}

.showcaseFavoriteHeader {
  display: flex;
  align-items: center;
}

.showcaseFavoriteHeader > h2 {
  margin-bottom: 0;
}

.showcaseFavoriteHeader > svg {
  width: 30px;
  height: 30px;
}

.countProjects {
  margin-left: 10px;
  background-color: #ffbf3b87;
  color: white;
  text-shadow: 2px -2px 2px black;
  padding-inline: 10px;
  border-radius: 8px;
  animation: 2s infinite alternate;
}