/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    /* padding: 2rem; */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  background-image: url('/img/background/cat-sunset-city-min.webp');
  background-position: bottom right;
  background-size: cover;
  height: 100vh;
}

.cardContainer {
  margin-top: -10vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.cardInfo {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  width: -moz-fit-content;
  width: fit-content;
}

.cardInfo h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  color: var(--ifm-color-primary-darkest);
}
.cardInfo h2 {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--ifm-color-primary-darker);
}

.cardInfoButton {
  padding: 0.4rem;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 0.1);
  width: 3rem;
  height: 3rem;
  border: none;
}
.cardInfoButton:hover {
  background-color: rgba(34, 34, 34, 0.5);
  color: white;
}

.cardInfoImage {
  border-radius: 50%;
}
.cardInfoImage:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttonsGroup {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  justify-content: center;
  margin: 1rem 0
};

.cv {
  background-color: var(--ifm-color-primary) !important;
}