.filterCheckbox {
  justify-content: space-between;
}

.filterCheckbox,
.checkboxList {
  display: flex;
  align-items: center;
}

.filterCheckbox > div:first-child {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.filterCheckbox > div > * {
  margin-bottom: 0;
  margin-right: 8px;
}

.checkboxList {
  flex-wrap: wrap;
}

.checkboxListItem {
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  height: 32px;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.checkboxListItem:last-child {
  margin-right: 0;
}

.dotColor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 8px;
}