.auth-wrapper {
    margin: auto 10px;
}

.auth-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}